<!doctype html>
<html>
  <head>
    <title>Hip Packer</title>
    <style>
    body {
      background:#efefef;
      font-family: helvetica, sans-serif;
      font-size: .9em;
      color:#555;
    }
    .item {
      width: 25%;
      border:1px solid #ccc;
      background-color: #fff;
      padding:10px;
      box-shadow:rgba(0,0,0,.1) 0 0 3px;
    }
    .item.w2 { width: 50%; }
    p {
      margin:0;
      padding:0;
    }
    h5 {
      margin:0 0 5px 0;
      padding:0;
    }
    .avatar {
      width:50px;
      height:50px;
      border: 1px solid #eee;
      margin: 0 7px 7px 0;
      border-radius:100px;
    }
    .room {
      position:absolute;
      bottom:5px;
      right:5px;
      color:#999;
    }
    </style>
  </head>
  <body>
    <div id="container"></div>
  </body>
  <script id="item-template" type="text/x-handlebars-template">
    <div class="item">
      <p>
        <img src="{{img}}" width="50px" align="left" class="avatar">
        <h5 class="from">{{from}}</h5>
        {{body}}
      </p>
      {{#if room}}
      <span class="room">{{room}}</em>
      {{/if}}
    </div>
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.2/handlebars.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/packery/1.1.2/packery.pkgd.min.js"></script>
  <script src="../dist/strophe.min.js"></script>
  <script src="../lib/lodash.min.js"></script>
  <script src="../dist/xml2json.min.js"></script>
  <script src="../dist/hipchat.js"></script>
  <script>
  var img='', name='', elem, pckry,
  $container = $('#container');
  $container.packery({
    itemSelector: '.item',
    gutter: 10
  });
  pckry = $container.data('packery');
  var src = $('#item-template').html();
  var template = Handlebars.compile(src);

  new HipChat(function(hc){
    window.hc = hc;
    hc.joinAutoJoinRooms();
    hc.on('message', function(msg){
      console.log(msg);
      if (typeof msg.body ===  'undefined') { return };

      if (hc.getJidType(msg._from) === 'chat') {
        hc.fetchUserProfile(msg._from, function(profile){
          console.log(profile);
          if (!profile.error) {
            var html = template({
              from: profile.query.name,
              img: profile.query.photo_large,
              body: msg.body
            });
            var elem = $(html).appendTo('#container');
            pckry.prepended(elem);
          }
        });
      } else {
        hc.fetchRoom(msg._from, function(room){
          if (!room.error) {
            if (msg.delay && msg.delay._from_jid) {
              hc.fetchUserProfile(msg.delay._from_jid, function(profile){
                var html = template({
                  from: profile.query.name,
                  img: profile.query.photo_large,
                  body: msg.body,
                  room: room.query.identity._name
                });
                var elem = $(html).appendTo('#container');
                pckry.prepended(elem);
              });
            } else {
              try {
                var user = _.where(hc.cachedProfiles, {query: {name: msg._from.split('/')[1]}})[0];
                hc.fetchUserProfile(user._from, function(profile){
                  var html = template({
                    from: profile.query.name,
                    img: profile.query.photo_large,
                    body: msg.body,
                    room: room.query.identity._name
                  });
                  var elem = $(html).appendTo('#container');
                  pckry.prepended(elem);
                });
              }catch(e){ console.error(e)}
            }
          }
        });
      }
    });
  });
  </script>
</html>